<div id="<%= dom_id item %>">
  

  <div class="container mt-5">
      <div class="form-container">
        <div class="form-content">
          <div class="form-header">
            <h2 class="text-center mb-4">Overview</h2>
          </div>
          <div class="form-body">
            <p>
              <strong>Name:
              <%= item.name %></strong>
            </p>
            <p>
              <strong>Description:
              <%= item.description %></strong>
            </p>

            <p>
              <strong>Size:
              <%= item.size %></strong>
            </p>

            <p>
              <strong>Colour:
              <%= item.colour %></strong>
            </p>

            <p>
              <strong>Category:
              <%= item.category_id %></strong>
            </p>
            <br>
            <div class="button-container">
              <%= link_to "Edit", edit_item_path(@item), class: "form-link" %> 
              <%= link_to "Delete", item_path(item), method: :delete, class: "form-link", data: { confirm: "Are you sure?" } %>
            </div>      
        </div>
      </div>
    </div>
  </div>
</div>
